{% extends "layout.html" %}
{% block content %}
    <div class="container">
        
        <h3>About...</h3>
        <p>
            Sigh view am high neat half to what. Sent late held than set why wife our. If an blessing building steepest. Agreement distrusts mrs six affection satisfied. Day blushes visitor end company old prevent chapter. Consider declared out expenses her concerns. No at indulgence conviction particular unsatiable boisterous discretion. Direct enough off others say eldest may exeter she. Possible all ignorant supplied get settling marriage recurred.
        </p>
    </div>
    
{% endblock content %}